

/* ---Header--- */

.site-header {
    min-height: 180px;
    background: white;

}

.site-header a{
    text-decoration: none;
    color: #44525e;
}

.site-header a:hover {
    color: #ff7013;
}

.header-line {
    /* min-height: 22px; */
    border-bottom: solid 1px #edeff1;
    min-height: 50px;
    line-height: 50px;
}

.header-line .block-570 {
    min-height: auto;
}

.header-line i {
    margin: 0 10px;
}

.main-logo {
    margin-top: 30px;
}

/* .main-logo li::after {
    content: "";
    display: block;
    clear: both;
} */

.main-nav li {
    /* background: red; */
    float: left;
    list-style: none;
    margin: 22px 15px;
}

.ico-line {
    margin-top: 40px;
    margin-right: 0;
    text-align: right;
}

.ico-line i {
    margin: 0 12px 0 12px;
}

.cart {
    /* display: inline-block; */
    position: relative;
}

/* .cart-count::after {
content: "6";
text-align: center;
display: block;
width: 16px;
height: 16px;
background: #ff7013;
position: absolute;
top: -21px;
left: 17px;
border-radius: 100%;
font-size: 16px;

} */

.ico-line a div.cart-count {
    content: "6";
text-align: center;
display: block;
width: 16px;
height: 16px;
background: #3d3d3d;
position: absolute;
top: -21px;
left: 16px;
border-radius: 100%;
font-size: 11px;
color: #fff;
line-height: 16px;
}

.ico-line a div.cart-count:hover {
    background: #ff7013;
}

/* .ico-line a div.cart-count span {
position: relative;
top: 2px;
} */

/* ---mobile 768px--- */
@media screen and (max-width:768px) {
  

    .md-center {
        text-align: center;
    }
}